/RunLength/build/
/advancedGUIEX1/build/
/BREADTHFIRSTGRAPH/BREADTHFIRSTGRAPH/build/
/backgroundComputationDemo/build/
/burrowswheeler/build/
/BinaryStdIn-Out/build/
/twosum/build/
/microGenetic/build/
/mergesort/mergesort/build/
/multiprocessingDemo2/build/
/helloException/build/
/inversioncount/build/
/multiprocessorscheduling/build/
/mergeSortThreadDemo/build/
/movetofrontencoder/build/
/quicksortThreadDemo/build/
/heap/build/
/iotesting/build/
/squaresGUI/build/
/bucketSort/build/
/secondThread/build/
/movetofrontdecoder/build/
/mergeSortThreadPool/build/
/Helloworld1/build/
/swingLearning/build/
/quicksort/build/
/firstthread/build/
/copyBytes/build/
/matrixmultiply/build/
/wordCount/build/
/adjacencylist/build/
/binarysearchtree/build/
/jobscheduling/build/
/TextArea/build/
/uniquerandom/build/
/guiTraining/build/
/advancedGUI/build/
/closestpair/build/
/twoDice/build/
/mst/build/
/strongConnectedComponents/nbproject/private/
/strongConnectedComponents/build/